.personal-data_bigcontainer .MuiTabs-flexContainer {
  justify-content: space-between;
}

.personal-data_bigcontainer .myTabs .myTab {
  border: 1px solid #bbdefb;
  border-radius: 5%;
  min-height: 6rem;
  color: black;
}
.personal-data_bigcontainer .myTabs .myTab.Mui-selected {
  border-color: #bbdefb;
}

.formInputs {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-grow: 2;
  margin: 1.5rem 0;
}
.formInputs .MuiTextField-root,
.formInputs .selClass {
  width: 49%;
}
