.Line1{
 position: static;
 width: 34px;
 height: 0px;
 left: 34px;
 top: 36px;
 border: 1px solid #000000;
 transform: rotate(180deg);
 -webkit-transform: rotate(180deg);
 -moz-transform: rotate(180deg);
 -ms-transform: rotate(180deg);
 -o-transform: rotate(180deg);
}