.line-title {
  position: static;
  width: 34px;
  height: 0px;
  left: 34px;
  top: 36px;
  border: 1px solid #000000;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.title-container {
  display: flex;
  flex-direction: column;
  height: 220px;
  width: 80%;
  margin: auto;
}

.title-font {
  font-style: normal;
  font-weight: 300;
  font-size: 3.75rem;
  line-height: 120%;
  margin: 0px;
}

.sub-title {
  color: rgba(0, 0, 0, 0.87);
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 133.4%;
  margin: 0px;
}
