.container-main-cards {
  margin: auto;
  width: 85%;
  display: flex;
  /* height: 100vh; */
}

.card {
  margin: 3%;
}

.price-number {
  font-size: 28.34px;
  line-height: 38px;
  text-align: Left;
  vertical-align: Top;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 28.3393px;
}

.month-text {
  color: #979797;
  font-size: 14.53px;
  line-height: 50px;
}

/* .icon-checkCircle{

} */

.text-description-card {
  position: static;
  color: #979797;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.177121px;
}

.text-container-description {
  height: 72.83px;
}

.button-prices {
  display: flex;
  justify-content: center;
  padding: 11px;
  width: 237.34px;
  height: 51.96px;
  background-color: #bbdefb;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
}

.icon-checkCircle {
  margin-right: 6px;
}

.container-item-list {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18.8929px;
  line-height: 28px;
  letter-spacing: 0.177121px;
  color: #000000;
  margin-bottom: 0.8rem;
}
