.body_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
    background-color: rgb(176, 209, 247);
    height: 19.37rem;
    width: 90%;
    /* justify-content: center; */
}

.left{
    display: flex;
    width: 5%;
    height: 100%;
    background-color:rgb(176, 209, 247);
    align-items: center;
    justify-content: center;
    color: gainsboro;
}

.button{
    border-radius: 60%;
    border: none;
    background-color: white;
    color: grey;
    height: 2.37rem;
    width: 2.18rem;
}

.center{
    display: flex;
    width: 90%;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.right{
    display: flex;
    width: 5%;
    height: 100%;
    background-color:rgb(176, 209, 247);
    align-items: center;
    justify-content: center;
    color: gainsboro;
}


.img_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 0.93rem;
    width: 12.43rem;
}

.img_cities{
    width: 11rem;
    height: 13.12rem;
}

.city_name{
    font-weight: 300;
    font-style: normal;
    font-size: 2.15rem;
    margin: 0rem;
}





