/* .page_container{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    padding: 2rem;
} */


/* .account_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-right:  1px solid #9E9E9E;
    padding: 2rem 5rem 2rem 2rem;
} */

.account_title{
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #9E9E9E;
    margin: 1.5rem 0rem;

}

.check-box{
    display: flex;
    flex-direction: row;
}

.text_check-box{
    font-size: 0.9rem;
    font-weight: 400;
    font-style: normal;
    margin-top: 0.7rem;
}

.link_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.link{
    font-weight: 400;
    font-size: 0.7rem;
    font-style: normal;
}

.link_color{
    color: #1976D2 !important;
}

/* .singup_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
} */

/* .singup_title{
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #9E9E9E;
    margin: 1.5rem 0rem;
} */

/* .singup_paragraph{
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    color: #9E9E9E;
    line-height: 2rem;
    letter-spacing: 0.009rem;
    width: 65%;
} */


