.personal-data_bigcontainer{
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    margin: 2rem auto;
}

.personal-data_input-titelcontainer{
    width: 34%;
}

.data_titel{
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    color: #9E9E9E;
    margin-bottom: 7px;
    margin-top: 0px;
    margin-left: 10px;
}

.input_container{
    display: flex;
}

.check-box{
    display: flex;
    margin:4px 0px;
   
}

.img-gifmoving{
    max-height: 450px;
} 

.text_check-box{
    font-weight: 400;
    font-size: 13px;
    font-style: normal;
    margin: 1px 0px;
}





