.personal-data_bigcontainer{
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    margin: 2rem auto;
}

/* .personal-data_input-titelcontainer{
    width: 34%;
    justify-content: center;
    height: 100%;
    margin-left: 9.37rem;

} */

.personal-data_input-titelcontainer{
    width: 25.56rem;
    max-height: 18.75rem;
    margin-right: 3.12rem;
}

.data_titel{
    font-weight: 400;
    font-size: 1.56rem;
    font-style: normal;
    color: #9E9E9E;
    margin-bottom: 0.43rem;
    margin-top: 0rem;
    margin-left: 0.62rem;
}

.input_container{
    display: flex;
}

.check-box{
    display: flex;
    margin:0.25rem 0rem;
   
}


.img-gifmoving{
    max-height: 450px;
} 



/* .img{
    max-height: 28.12rem;
}
 */

.text_check-box{
    font-weight: 400;
    font-size: 0.81rem;
    font-style: normal;
    margin: 0rem 0rem;
}

.text_check-box_top{
    font-weight: 400;
    font-size: 0.81rem;
    font-style: normal;
    margin-top: 0.4rem;
    margin-bottom: 0rem;

}






